* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: white;
  text-decoration: none;
}



/*  */
.favorites {
  min-height: 80vh;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  text-align: center;
}

.book-details {
  min-height: 80vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  /* text-align: center; */
  padding: 10px;
}

.book-image {
  margin: 0 20px;
}

.book-description {
  margin: 0x 10px;
}


.book {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
}

